@import "https://fonts.googleapis.com/css?family=Lora";
@import "https://fonts.googleapis.com/css?family=Candal";
/* NAVBAR */
/* SLIDER */
/* CONTENT */
/* FOOTER */
/* CONTENT */
/* FOOTER */
/* FOOTER */
html {
  padding: 0px;
  margin: 0px;
  font-family: 'Lora', serif;
  height: 100%;
  background: #f6f6f6;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lora', serif;
  height: 100%;
  background: #f6f6f6;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #008489;
  }
  &:active {
    color: #008489;
  }
}
.logo-text {
  font-family: 'Candal', sans-serif;
  margin: 5px;
  color: #5c5b5b;
  font-weight: normal;
  padding: 0px;
  color: white;
  font-family: 'Candal', sans-serif;
  span {
    color: #6ed6e9;
  }
}
h1 {
  font-family: 'Candal', sans-serif;
  margin: 5px;
  color: #5c5b5b;
  font-weight: normal;
}
h2 {
  font-family: 'Candal', sans-serif;
  margin: 5px;
  color: #5c5b5b;
  font-weight: normal;
}
h3 {
  font-family: 'Candal', sans-serif;
  margin: 5px;
  color: #5c5b5b;
  font-weight: normal;
}
h4 {
  font-family: 'Candal', sans-serif;
  margin: 5px;
  color: #5c5b5b;
  font-weight: normal;
}
h5 {
  font-family: 'Candal', sans-serif;
  margin: 5px;
  color: #5c5b5b;
  font-weight: normal;
}
h6 {
  font-family: 'Candal', sans-serif;
  margin: 5px;
  color: #5c5b5b;
  font-weight: normal;
}
.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
.msg {
  width: 100%;
  list-style-type: none;
  margin: 5px auto;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 3px;
}
.error {
  color: #884b4b;
  background: rgb(245, 188, 188);
  border: 1px solid #6e3a3d;
}
.success {
  color: #3a6e3a;
  background: #bcf5bc;
  border: 1px solid #3a6e3a;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: .7rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background: #008489;
  color: #fff;
  &:hover {
    cursor: pointer;
    background: #00767a;
  }
}
.btn-sm {
  padding: .5rem .8rem;
  line-height: 1.3;
  border-radius: .25rem;
}
.input-group {
  display: block;
  margin: 10px auto 10px;
}
.text-input {
  border: 1px solid #e0e0e0;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: .6rem 1.1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  font-family: 'Lora', serif;
}
.delete {
  color: red;
}
.edit {
  color: blue;
}
.publish {
  color: green;
}
.unpublish {
  color: orange;
}
header {
  background: #008489;
  color: #ffffff;
  height: 66px;
  a {
    &:hover {
      color: white;
    }
  }
  nav {
    float: right;
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      li {
        float: left;
        position: relative;
        a {
          display: block;
          padding: 21px;
          font-size: 1.1em;
          &:hover {
            background: #006669;
            transition: 0.5s;
          }
        }
        ul {
          display: none;
          position: absolute;
          right: 0px;
          z-index: 4;
        }
        &:hover {
          .dropdown {
            display: block;
          }
        }
        .dropdown {
          li {
            width: 180px;
            a {
              background: #fff;
              color: #444444;
              padding: 10px;
              &:hover {
                background: #f0f0f0;
              }
            }
          }
          .logout {
            color: red;
          }
        }
      }
      .userinfo {
        i.fa-user {
          font-size: 1.3em;
          margin-right: 3px;
        }
        i.fa-chevron-down {
          float: right;
          font-size: .7em;
          margin: 6px 3px;
        }
      }
    }
  }
  header {
    nav {
      ul {
        li {
          .dropdown {
            .userinfo {
              width: 130px;
            }
          }
        }
      }
    }
  }
}
.logo {
  float: left;
  margin-left: 2em;
  height: inherit;
}
.menu-toggle {
  display: none;
}
.page-wrapper {
  min-height: 100%;
  margin-bottom: 50px;
  .posts-slider {
    position: relative;
    padding: 5px;
    .slider-title {
      text-align: center;
      margin: 40px auto 40px;
    }
    .next {
      position: absolute;
      right: 30px;
      top: 50%;
      z-index: 100;
      font-size: 2em;
      color: #008489;
      cursor: pointer;
    }
    .prev {
      position: absolute;
      left: 30px;
      top: 50%;
      z-index: 100;
      font-size: 2em;
      color: #008489;
      cursor: pointer;
    }
    .posts-wrapper {
      height: 350px;
      width: 84%;
      margin: 0px auto;
      overflow: hidden;
      padding: 5px;
      .post {
        width: 300px;
        height: 300px;
        padding: 0px 10px 0px;
        display: inline-block;
        .inner-post {
          height: 100%;
          border-radius: 5px;
          background: #fff;
          padding-bottom: 30px;
          box-shadow: 0 1.2rem 1.2rem -1rem #0a0a0a33;
          .post-info {
            height: 100px;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
.content {
  width: 90%;
  margin: 40px auto 140px;
  .page-content {
    width: 70%;
    margin: 0px auto;
    float: left;
    .post {
      border-radius: 5px;
      height: 260px;
      width: 96%;
      margin: 0px auto 30px;
      background: #fff;
      .post-content {
        width: 62.88%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 5px 15px;
        float: left;
      }
      .post-title {
        margin: 5px 0px;
      }
      .read-more {
        text-decoration: none;
        color: inherit;
        text-align: center;
        border: 1px solid #8BC7C9;
        padding: 8px 15px;
        border-radius: 0px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        &:hover {
          color: white;
          background: #008489;
          border: 1px solid #008489;
          transition: .5s;
        }
      }
      .post-body {
        line-height: 1.7em;
        font-size: 1.03em;
        color: #444;
      }
      .post-image {
        width: 37%;
        height: inherit;
        float: left;
      }
      .post-info {
        color: #757575;
        font-size: 0.8em;
      }
    }
    .recent-posts-title {
      margin: 20px;
    }
  }
  .page-content.single {
    margin-right: 10px;
    background: white;
    padding: 20px 50px;
    box-sizing: border-box;
    font-size: 1.1em;
    border-radius: 5px;
  }
  .sidebar {
    width: 28%;
    float: left;
    margin: 78px auto;
    .search-div {
      background: white;
      padding: 20px;
      border-radius: 5px;
    }
    .section {
      background: #ffffff;
      margin-top: 20px;
      border-radius: 5px;
      padding: 20px;
    }
    .section.topics {
      ul {
        list-style-type: none;
        padding: 0px;
        border-bottom: 1px solid #e0e0e0;
        a {
          display: block;
          padding: 15px;
          border-top: 1px solid #e0e0e0;
          transition: all .3s;
          &:hover {
            padding-left: 25px;
            transition: all .3s;
          }
        }
      }
    }
    .section.popular {
      .post {
        border-top: 1px solid #e0e0e0;
        padding-top: 10px;
        margin-top: 10px;
        .title {
          width: 80%;
        }
        img {
          width: 60px;
          height: 60px;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }
  .sidebar.single {
    margin: 0px auto;
  }
}
.auth-content {
  width: 30%;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.1em;
  .form-title {
    text-align: center;
  }
  .auth-nav {
    margin: 5px auto;
    text-align: center;
    font-size: 1em;
    a {
      text-decoration: underline;
    }
  }
}
.footer {
  margin-top: -50px;
  background: #303036;
  color: #d3d3d3;
  height: 401px;
  position: relative;
  .footer-bottom {
    color: #686868;
    border-top: 1px solid #333333;
    background: #343a40;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
  }
  .footer-content {
    height: 351px;
    display: flex;
    .footer-section {
      flex: 1;
      padding: 40px;
      box-sizing: border-box;
      h2 {
        color: #f0ecec;
      }
    }
    .about {
      .contact {
        margin-top: 28px;
        i {
          font-size: 1.2em;
          margin: 5px auto;
          display: block;
          margin-top: 10px;
        }
      }
    }
    .social {
      margin-top: 30px;
      a {
        border: 1px solid gray;
        font-size: 1.3em;
        display: inline-block;
        width: 35px;
        padding: 6px 4px;
        text-align: center;
        margin-right: 5px;
        border-radius: 5px;
        &:hover {
          color: white;
          border: 1px solid white;
          transition: all .5s;
        }
      }
    }
    .quick-links {
      a {
        display: block;
        margin-top: 10px;
        font-size: 1.1em;
        transition: all 0.25s;
        &:hover {
          color: white;
          padding-left: 10px;
          transition: all 0.25s;
        }
      }
    }
    .contact-form-div {
      .contact-input {
        margin: 5px auto 5px;
        border: none;
        background: #272727;
        color: #bebdbd;
        padding: .7rem 1.2rem;
        font-size: 1.25rem;
        &:focus {
          outline: none;
          background: #1f1f1f;
        }
      }
      .send-msg-btn {
        float: right;
        background: #008489;
        color: #d3d3d3;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 10px 30px;
        font-size: 1.1em;
        font-family: 'Lora', serif;
      }
    }
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    &:before {
      content: '\f0c9';
      font-family: fontAwesome;
      line-height: 40px;
    }
  }
  nav {
    width: 100%;
    background: #0E94A0;
    ul {
      max-height: 0px;
      overflow: hidden;
      li {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
  .showing {
    max-height: 95em;
  }
  header {
    nav {
      ul {
        li {
          ul {
            position: static;
            box-sizing: border-box;
            display: block;
            width: 100%;
          }
          .dropdown {
            li {
              clear: both;
              width: 100%;
              a {
                background: #0E94A0;
                color: white;
                padding: 15px;
                padding-left: 50px;
                &:hover {
                  background: #0E94A0;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 974px) {
  .content {
    width: 100%;
  }
  .footer {
    .footer-content {
      .footer-section {
        padding: 20px;
      }
      .about {
        .contact {
          margin-top: 18px;
        }
      }
    }
  }
  .auth-content {
    width: 40%;
  }
}
@media only screen and (max-width: 790px) {
  .content {
    margin: 40px auto 50px;
    .page-content {
      width: 100%;
    }
    .sidebar {
      width: 100%;
      margin-top: 40px;
      padding: 10px;
      box-sizing: border-box;
    }
  }
  .footer {
    height: auto;
    padding: 50px;
    .footer-content {
      height: auto;
      display: flex;
      flex-direction: column;
    }
    .footer-section {
      height: auto;
      display: block;
      padding: 100px auto;
      border-bottom: 1px solid rgb(34, 33, 33);
      .send-msg-btn {
        width: 100%;
        padding: 8px auto;
      }
    }
  }
}
@media only screen and (max-width: 560px) {
  .footer {
    padding: 20px;
    padding-bottom: 60px;
    .footer-section {
      padding: 0px;
    }
  }
  .content {
    .page-content {
      .post {
        height: auto;
        .post-content {
          width: 100%;
          padding: 5px 15px;
        }
        .post-image {
          width: 100%;
        }
        .read-more {
          position: static;
          display: block;
          width: 100%;
          box-sizing: border-box;
          margin: 10px auto;
        }
      }
    }
  }
  .page-wrapper {
    .posts-slider {
      .next {
        right: 10px;
      }
      .prev {
        left: 10px;
      }
    }
  }
  .auth-content {
    width: 80%;
  }
}